In [3]:
import pandas as pd
# Path to the CSV file
file_path = r'C:\Users\nolla\OneDrive - TCDUD.onmicrosoft.com\Desktop\Oisin TCD Masters\Financial Modelling & Analysis\train.csv'
# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)
# Display the DataFrame
print(df.head())

  policy_id  policy_tenure  age_of_car  age_of_policyholder area_cluster  \
0   ID00001       0.515874        0.05             0.644231           C1
1   ID00002       0.672619        0.02             0.375000           C2
2   ID00003       0.841110        0.02             0.384615           C3
3   ID00004       0.900277        0.11             0.432692           C4
4   ID00005       0.596403        0.11             0.634615           C5

   population_density  make segment model fuel_type  ... is_brake_assist  \
0                4990     1       A    M1       CNG  ...              No
1               27003     1       A    M1       CNG  ...              No
2                4076     1       A    M1       CNG  ...              No
3               21622     1      C1    M2    Petrol  ...             Yes
4               34738     2       A    M3    Petrol  ...              No

  is_power_door_locks is_central_locking  is_power_steering  \
0                  No                 No                Yes
1                  No                 No                Yes
2                  No                 No                Yes
3                 Yes                Yes                Yes
4                 Yes                Yes                Yes

  is_driver_seat_height_adjustable is_day_night_rear_view_mirror is_ecw  \
0                               No                            No     No
1                               No                            No     No
2                               No                            No     No
3                              Yes                           Yes    Yes
4                               No                           Yes    Yes

  is_speed_alert ncap_rating is_claim
0            Yes           0        0
1            Yes           0        0
2            Yes           0        0
3            Yes           2        0
4            Yes           2        0

[5 rows x 44 columns]

In [4]:
df

,policy_id,policy_tenure,age_of_car,age_of_policyholder,area_cluster,population_density,make,segment,model,fuel_type,...,is_brake_assist,is_power_door_locks,is_central_locking,is_power_steering,is_driver_seat_height_adjustable,is_day_night_rear_view_mirror,is_ecw,is_speed_alert,ncap_rating,is_claim
0,ID00001,0.515874,0.05,0.644231,C1,4990,1,A,M1,CNG,...,No,No,No,Yes,No,No,No,Yes,0,0
1,ID00002,0.672619,0.02,0.375000,C2,27003,1,A,M1,CNG,...,No,No,No,Yes,No,No,No,Yes,0,0
2,ID00003,0.841110,0.02,0.384615,C3,4076,1,A,M1,CNG,...,No,No,No,Yes,No,No,No,Yes,0,0
3,ID00004,0.900277,0.11,0.432692,C4,21622,1,C1,M2,Petrol,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,2,0
4,ID00005,0.596403,0.11,0.634615,C5,34738,2,A,M3,Petrol,...,No,Yes,Yes,Yes,No,Yes,Yes,Yes,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58587,ID58588,0.355089,0.13,0.644231,C8,8794,2,A,M3,Petrol,...,No,Yes,Yes,Yes,No,Yes,Yes,Yes,2,0
58588,ID58589,1.199642,0.02,0.519231,C14,7788,1,A,M1,CNG,...,No,No,No,Yes,No,No,No,Yes,0,0
58589,ID58590,1.162273,0.05,0.451923,C5,34738,1,A,M1,CNG,...,No,No,No,Yes,No,No,No,Yes,0,0
58590,ID58591,1.236307,0.14,0.557692,C8,8794,1,B2,M6,Petrol,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,2,0
58591,ID58592,0.124429,0.02,0.442308,C8,8794,3,C2,M4,Diesel,...,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes,3,0

In [5]:
unique_entries = df['population_density'].nunique()
print("Number of unique entries in the 'population_density' column:", unique_entries)

Number of unique entries in the 'population_density' column: 22

In [6]:
unique_entries = df['area_cluster'].nunique()
print("Number of unique entries in the 'area_cluster' column:", unique_entries)

Number of unique entries in the 'area_cluster' column: 22

In [7]:
unique_entries_list = df['population_density'].unique().tolist()
print("Unique entries in the 'population_density' column:")
print(unique_entries_list)

Unique entries in the 'population_density' column:
[4990, 27003, 4076, 21622, 34738, 13051, 6112, 8794, 17804, 73430, 6108, 34791, 5410, 7788, 290, 16206, 65567, 35036, 27742, 20905, 3264, 16733]

In [8]:
population_density_mapping = {
    73430: "Dublin",
    65567: "Cork",
    35036: "Galway",
    34791: "Limerick",
    34738: "Waterford",
    27742: "Drogheda",
    27003: "Derry",
    21622: "Belfast",
    20905: "Dundalk",
    17804: "Bray",
    16733: "Navan",
    16206: "Tralee",
    13051: "Ennis",
    8794: "Kilkenny",
    7788: "Sligo",
    6112: "Carlow",
    6108: "Naas",
    5410: "Mullingar",
    4990: "Wexford",
    4076: "Arklow",
    3264: "Tullamore",
    290: "Roscommon"
}

In [9]:
# Add a new column 'City' to the DataFrame based on the population density mapping
df['City'] = df['population_density'].map(population_density_mapping)

# Display the DataFrame with the new 'City' column
df

,policy_id,policy_tenure,age_of_car,age_of_policyholder,area_cluster,population_density,make,segment,model,fuel_type,...,is_power_door_locks,is_central_locking,is_power_steering,is_driver_seat_height_adjustable,is_day_night_rear_view_mirror,is_ecw,is_speed_alert,ncap_rating,is_claim,City
0,ID00001,0.515874,0.05,0.644231,C1,4990,1,A,M1,CNG,...,No,No,Yes,No,No,No,Yes,0,0,Wexford
1,ID00002,0.672619,0.02,0.375000,C2,27003,1,A,M1,CNG,...,No,No,Yes,No,No,No,Yes,0,0,Derry
2,ID00003,0.841110,0.02,0.384615,C3,4076,1,A,M1,CNG,...,No,No,Yes,No,No,No,Yes,0,0,Arklow
3,ID00004,0.900277,0.11,0.432692,C4,21622,1,C1,M2,Petrol,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,2,0,Belfast
4,ID00005,0.596403,0.11,0.634615,C5,34738,2,A,M3,Petrol,...,Yes,Yes,Yes,No,Yes,Yes,Yes,2,0,Waterford
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58587,ID58588,0.355089,0.13,0.644231,C8,8794,2,A,M3,Petrol,...,Yes,Yes,Yes,No,Yes,Yes,Yes,2,0,Kilkenny
58588,ID58589,1.199642,0.02,0.519231,C14,7788,1,A,M1,CNG,...,No,No,Yes,No,No,No,Yes,0,0,Sligo
58589,ID58590,1.162273,0.05,0.451923,C5,34738,1,A,M1,CNG,...,No,No,Yes,No,No,No,Yes,0,0,Waterford
58590,ID58591,1.236307,0.14,0.557692,C8,8794,1,B2,M6,Petrol,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,2,0,Kilkenny
58591,ID58592,0.124429,0.02,0.442308,C8,8794,3,C2,M4,Diesel,...,Yes,Yes,Yes,Yes,No,Yes,Yes,3,0,Kilkenny

In [10]:
# Get unique entries in the "model" column
unique_models = df['model'].unique()

# Iterate over each unique model and print the first row of each instance
for model in unique_models:
    first_row_of_instance = df[df['model'] == model].iloc[0]
    print("First row of instance for model", model, ":")
    print(first_row_of_instance)
    print()

First row of instance for model M1 :
policy_id                                     ID00001
policy_tenure                                0.515874
age_of_car                                       0.05
age_of_policyholder                          0.644231
area_cluster                                       C1
population_density                               4990
make                                                1
segment                                             A
model                                              M1
fuel_type                                         CNG
max_torque                               60Nm@3500rpm
max_power                            40.36bhp@6000rpm
engine_type                         F8D Petrol Engine
airbags                                             2
is_esc                                             No
is_adjustable_steering                             No
is_tpms                                            No
is_parking_sensors                                Yes
is_parking_camera                                  No
rear_brakes_type                                 Drum
displacement                                      796
cylinder                                            3
transmission_type                              Manual
gear_box                                            5
steering_type                                   Power
turning_radius                                    4.6
length                                           3445
width                                            1515
height                                           1475
gross_weight                                     1185
is_front_fog_lights                                No
is_rear_window_wiper                               No
is_rear_window_washer                              No
is_rear_window_defogger                            No
is_brake_assist                                    No
is_power_door_locks                                No
is_central_locking                                 No
is_power_steering                                 Yes
is_driver_seat_height_adjustable                   No
is_day_night_rear_view_mirror                      No
is_ecw                                             No
is_speed_alert                                    Yes
ncap_rating                                         0
is_claim                                            0
City                                          Wexford
Name: 0, dtype: object

First row of instance for model M2 :
policy_id                                      ID00004
policy_tenure                                 0.900277
age_of_car                                        0.11
age_of_policyholder                           0.432692
area_cluster                                        C4
population_density                               21622
make                                                 1
segment                                             C1
model                                               M2
fuel_type                                       Petrol
max_torque                               113Nm@4400rpm
max_power                             88.50bhp@6000rpm
engine_type                         1.2 L K12N Dualjet
airbags                                              2
is_esc                                             Yes
is_adjustable_steering                             Yes
is_tpms                                             No
is_parking_sensors                                 Yes
is_parking_camera                                  Yes
rear_brakes_type                                  Drum
displacement                                      1197
cylinder                                             4
transmission_type                            Automatic
gear_box                                             5
steering_type                                 Electric
turning_radius                                     4.8
length                                            3995
width                                             1735
height                                            1515
gross_weight                                      1335
is_front_fog_lights                                Yes
is_rear_window_wiper                                No
is_rear_window_washer                               No
is_rear_window_defogger                            Yes
is_brake_assist                                    Yes
is_power_door_locks                                Yes
is_central_locking                                 Yes
is_power_steering                                  Yes
is_driver_seat_height_adjustable                   Yes
is_day_night_rear_view_mirror                      Yes
is_ecw                                             Yes
is_speed_alert                                     Yes
ncap_rating                                          2
is_claim                                             0
City                                           Belfast
Name: 3, dtype: object

First row of instance for model M3 :
policy_id                                    ID00005
policy_tenure                               0.596403
age_of_car                                      0.11
age_of_policyholder                         0.634615
area_cluster                                      C5
population_density                             34738
make                                               2
segment                                            A
model                                             M3
fuel_type                                     Petrol
max_torque                              91Nm@4250rpm
max_power                           67.06bhp@5500rpm
engine_type                                  1.0 SCe
airbags                                            2
is_esc                                            No
is_adjustable_steering                            No
is_tpms                                           No
is_parking_sensors                                No
is_parking_camera                                Yes
rear_brakes_type                                Drum
displacement                                     999
cylinder                                           3
transmission_type                          Automatic
gear_box                                           5
steering_type                               Electric
turning_radius                                   5.0
length                                          3731
width                                           1579
height                                          1490
gross_weight                                    1155
is_front_fog_lights                               No
is_rear_window_wiper                              No
is_rear_window_washer                             No
is_rear_window_defogger                           No
is_brake_assist                                   No
is_power_door_locks                              Yes
is_central_locking                               Yes
is_power_steering                                Yes
is_driver_seat_height_adjustable                  No
is_day_night_rear_view_mirror                    Yes
is_ecw                                           Yes
is_speed_alert                                   Yes
ncap_rating                                        2
is_claim                                           0
City                                       Waterford
Name: 4, dtype: object

First row of instance for model M4 :
policy_id                                     ID00006
policy_tenure                                1.018709
age_of_car                                       0.07
age_of_policyholder                          0.519231
area_cluster                                       C6
population_density                              13051
make                                                3
segment                                            C2
model                                              M4
fuel_type                                      Diesel
max_torque                              250Nm@2750rpm
max_power                           113.45bhp@4000rpm
engine_type                             1.5 L U2 CRDi
airbags                                             6
is_esc                                            Yes
is_adjustable_steering                            Yes
is_tpms                                           Yes
is_parking_sensors                                Yes
is_parking_camera                                 Yes
rear_brakes_type                                 Disc
displacement                                     1493
cylinder                                            4
transmission_type                           Automatic
gear_box                                            6
steering_type                                   Power
turning_radius                                    5.2
length                                           4300
width                                            1790
height                                           1635
gross_weight                                     1720
is_front_fog_lights                               Yes
is_rear_window_wiper                              Yes
is_rear_window_washer                             Yes
is_rear_window_defogger                           Yes
is_brake_assist                                   Yes
is_power_door_locks                               Yes
is_central_locking                                Yes
is_power_steering                                 Yes
is_driver_seat_height_adjustable                  Yes
is_day_night_rear_view_mirror                      No
is_ecw                                            Yes
is_speed_alert                                    Yes
ncap_rating                                         3
is_claim                                            0
City                                            Ennis
Name: 5, dtype: object

First row of instance for model M5 :
policy_id                                             ID00007
policy_tenure                                        0.097992
age_of_car                                               0.16
age_of_policyholder                                  0.403846
area_cluster                                               C7
population_density                                       6112
make                                                        4
segment                                                    B2
model                                                      M5
fuel_type                                              Diesel
max_torque                                      200Nm@3000rpm
max_power                                    88.77bhp@4000rpm
engine_type                         1.5 Turbocharged Revotorq
airbags                                                     2
is_esc                                                     No
is_adjustable_steering                                    Yes
is_tpms                                                    No
is_parking_sensors                                        Yes
is_parking_camera                                          No
rear_brakes_type                                         Drum
displacement                                             1497
cylinder                                                    4
transmission_type                                      Manual
gear_box                                                    5
steering_type                                        Electric
turning_radius                                            5.0
length                                                   3990
width                                                    1755
height                                                   1523
gross_weight                                             1490
is_front_fog_lights                                        No
is_rear_window_wiper                                       No
is_rear_window_washer                                      No
is_rear_window_defogger                                    No
is_brake_assist                                            No
is_power_door_locks                                       Yes
is_central_locking                                        Yes
is_power_steering                                         Yes
is_driver_seat_height_adjustable                           No
is_day_night_rear_view_mirror                              No
is_ecw                                                    Yes
is_speed_alert                                            Yes
ncap_rating                                                 5
is_claim                                                    0
City                                                   Carlow
Name: 6, dtype: object

First row of instance for model M6 :
policy_id                                     ID00008
policy_tenure                                0.509085
age_of_car                                       0.14
age_of_policyholder                          0.423077
area_cluster                                       C8
population_density                               8794
make                                                1
segment                                            B2
model                                              M6
fuel_type                                      Petrol
max_torque                              113Nm@4400rpm
max_power                            88.50bhp@6000rpm
engine_type                         K Series Dual jet
airbags                                             2
is_esc                                             No
is_adjustable_steering                            Yes
is_tpms                                            No
is_parking_sensors                                Yes
is_parking_camera                                  No
rear_brakes_type                                 Drum
displacement                                     1197
cylinder                                            4
transmission_type                              Manual
gear_box                                            5
steering_type                                Electric
turning_radius                                    4.8
length                                           3845
width                                            1735
height                                           1530
gross_weight                                     1335
is_front_fog_lights                               Yes
is_rear_window_wiper                               No
is_rear_window_washer                              No
is_rear_window_defogger                            No
is_brake_assist                                   Yes
is_power_door_locks                               Yes
is_central_locking                                Yes
is_power_steering                                 Yes
is_driver_seat_height_adjustable                  Yes
is_day_night_rear_view_mirror                     Yes
is_ecw                                            Yes
is_speed_alert                                    Yes
ncap_rating                                         2
is_claim                                            0
City                                         Kilkenny
Name: 7, dtype: object

First row of instance for model M7 :
policy_id                                         ID00010
policy_tenure                                    0.566255
age_of_car                                           0.04
age_of_policyholder                              0.442308
area_cluster                                           C9
population_density                                  17804
make                                                    1
segment                                                B2
model                                                  M7
fuel_type                                          Petrol
max_torque                                  113Nm@4400rpm
max_power                                88.50bhp@6000rpm
engine_type                         1.2 L K Series Engine
airbags                                                 6
is_esc                                                Yes
is_adjustable_steering                                Yes
is_tpms                                                No
is_parking_sensors                                    Yes
is_parking_camera                                     Yes
rear_brakes_type                                     Drum
displacement                                         1197
cylinder                                                4
transmission_type                               Automatic
gear_box                                                5
steering_type                                    Electric
turning_radius                                       4.85
length                                               3990
width                                                1745
height                                               1500
gross_weight                                         1410
is_front_fog_lights                                   Yes
is_rear_window_wiper                                  Yes
is_rear_window_washer                                 Yes
is_rear_window_defogger                               Yes
is_brake_assist                                       Yes
is_power_door_locks                                   Yes
is_central_locking                                    Yes
is_power_steering                                     Yes
is_driver_seat_height_adjustable                      Yes
is_day_night_rear_view_mirror                         Yes
is_ecw                                                Yes
is_speed_alert                                        Yes
ncap_rating                                             0
is_claim                                                0
City                                                 Bray
Name: 9, dtype: object

First row of instance for model M8 :
policy_id                                    ID00012
policy_tenure                                0.08318
age_of_car                                      0.12
age_of_policyholder                         0.298077
area_cluster                                      C3
population_density                              4076
make                                               1
segment                                           B1
model                                             M8
fuel_type                                        CNG
max_torque                            82.1Nm@3400rpm
max_power                           55.92bhp@5300rpm
engine_type                                     K10C
airbags                                            2
is_esc                                            No
is_adjustable_steering                            No
is_tpms                                           No
is_parking_sensors                               Yes
is_parking_camera                                 No
rear_brakes_type                                Drum
displacement                                     998
cylinder                                           3
transmission_type                             Manual
gear_box                                           5
steering_type                                  Power
turning_radius                                   4.7
length                                          3655
width                                           1620
height                                          1675
gross_weight                                    1340
is_front_fog_lights                               No
is_rear_window_wiper                              No
is_rear_window_washer                             No
is_rear_window_defogger                           No
is_brake_assist                                   No
is_power_door_locks                              Yes
is_central_locking                               Yes

In [11]:
# Define the mapping of models to car types
model_to_car_type = {
    'M2': 'SUV',
    'M10': 'SUV',
    'M11': 'SUV',
    'M6': 'Daily Drive',
    'M7': 'Daily Drive',
    'M1': 'Large Work Vehicles',
    'M4': 'Large Work Vehicles',
    'M5': 'Large Work Vehicles',
    'M8': 'Large Work Vehicles',
    'M9': 'Large Work Vehicles',
    'M3': 'Compact Cars'
}

# Iterate through the DataFrame and add the 'car_type' column
for index, row in df.iterrows():
    model = row['model']
    car_type = model_to_car_type.get(model)
    df.at[index, 'car_type'] = car_type

# Display the DataFrame with the new 'car_type' column
df

,policy_id,policy_tenure,age_of_car,age_of_policyholder,area_cluster,population_density,make,segment,model,fuel_type,...,is_central_locking,is_power_steering,is_driver_seat_height_adjustable,is_day_night_rear_view_mirror,is_ecw,is_speed_alert,ncap_rating,is_claim,City,car_type
0,ID00001,0.515874,0.05,0.644231,C1,4990,1,A,M1,CNG,...,No,Yes,No,No,No,Yes,0,0,Wexford,Large Work Vehicles
1,ID00002,0.672619,0.02,0.375000,C2,27003,1,A,M1,CNG,...,No,Yes,No,No,No,Yes,0,0,Derry,Large Work Vehicles
2,ID00003,0.841110,0.02,0.384615,C3,4076,1,A,M1,CNG,...,No,Yes,No,No,No,Yes,0,0,Arklow,Large Work Vehicles
3,ID00004,0.900277,0.11,0.432692,C4,21622,1,C1,M2,Petrol,...,Yes,Yes,Yes,Yes,Yes,Yes,2,0,Belfast,SUV
4,ID00005,0.596403,0.11,0.634615,C5,34738,2,A,M3,Petrol,...,Yes,Yes,No,Yes,Yes,Yes,2,0,Waterford,Compact Cars
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58587,ID58588,0.355089,0.13,0.644231,C8,8794,2,A,M3,Petrol,...,Yes,Yes,No,Yes,Yes,Yes,2,0,Kilkenny,Compact Cars
58588,ID58589,1.199642,0.02,0.519231,C14,7788,1,A,M1,CNG,...,No,Yes,No,No,No,Yes,0,0,Sligo,Large Work Vehicles
58589,ID58590,1.162273,0.05,0.451923,C5,34738,1,A,M1,CNG,...,No,Yes,No,No,No,Yes,0,0,Waterford,Large Work Vehicles
58590,ID58591,1.236307,0.14,0.557692,C8,8794,1,B2,M6,Petrol,...,Yes,Yes,Yes,Yes,Yes,Yes,2,0,Kilkenny,Daily Drive
58591,ID58592,0.124429,0.02,0.442308,C8,8794,3,C2,M4,Diesel,...,Yes,Yes,Yes,No,Yes,Yes,3,0,Kilkenny,Large Work Vehicles

In [12]:
print(df.head())

  policy_id  policy_tenure  age_of_car  age_of_policyholder area_cluster  \
0   ID00001       0.515874        0.05             0.644231           C1
1   ID00002       0.672619        0.02             0.375000           C2
2   ID00003       0.841110        0.02             0.384615           C3
3   ID00004       0.900277        0.11             0.432692           C4
4   ID00005       0.596403        0.11             0.634615           C5

   population_density  make segment model fuel_type  ... is_central_locking  \
0                4990     1       A    M1       CNG  ...                 No
1               27003     1       A    M1       CNG  ...                 No
2                4076     1       A    M1       CNG  ...                 No
3               21622     1      C1    M2    Petrol  ...                Yes
4               34738     2       A    M3    Petrol  ...                Yes

  is_power_steering is_driver_seat_height_adjustable  \
0               Yes                               No
1               Yes                               No
2               Yes                               No
3               Yes                              Yes
4               Yes                               No

   is_day_night_rear_view_mirror is_ecw is_speed_alert ncap_rating is_claim  \
0                             No     No            Yes           0        0
1                             No     No            Yes           0        0
2                             No     No            Yes           0        0
3                            Yes    Yes            Yes           2        0
4                            Yes    Yes            Yes           2        0

        City             car_type
0    Wexford  Large Work Vehicles
1      Derry  Large Work Vehicles
2     Arklow  Large Work Vehicles
3    Belfast                  SUV
4  Waterford         Compact Cars

[5 rows x 46 columns]

In [13]:
unique_engine_types = df['engine_type'].unique()
print(unique_engine_types)

['F8D Petrol Engine' '1.2 L K12N Dualjet' '1.0 SCe' '1.5 L U2 CRDi'
 '1.5 Turbocharged Revotorq' 'K Series Dual jet' '1.2 L K Series Engine'
 'K10C' 'i-DTEC' 'G12B' '1.5 Turbocharged Revotron']

In [14]:
# Dictionary mapping engine types to consumption rates
engine_consumption_rates = {
    'F8D Petrol Engine': 7.5,
    '1.2 L K12N Dualjet': 6.5,
    '1.0 SCe': 5.5,
    '1.5 L U2 CRDi': 8.5,
    '1.5 Turbocharged Revotorq': 8,
    'K Series Dual jet': 6,
    '1.2 L K Series Engine': 6.5,
    'K10C': 5,
    'i-DTEC': 7.5,
    'G12B': 6,
    '1.5 Turbocharged Revotron': 8
}
# Applying a 2.5x multiplier to all consumption rates
engine_consumption_rates = {key: value * 2.5 for key, value in engine_consumption_rates.items()}


# Create a new column 'consumption_rate_(L/km)' and fill it with the consumption rates
df['consumption_rate_(L/km)'] = df['engine_type'].map(engine_consumption_rates)

# Display the DataFrame with the new column
print(df.head())

  policy_id  policy_tenure  age_of_car  age_of_policyholder area_cluster  \
0   ID00001       0.515874        0.05             0.644231           C1
1   ID00002       0.672619        0.02             0.375000           C2
2   ID00003       0.841110        0.02             0.384615           C3
3   ID00004       0.900277        0.11             0.432692           C4
4   ID00005       0.596403        0.11             0.634615           C5

   population_density  make segment model fuel_type  ... is_power_steering  \
0                4990     1       A    M1       CNG  ...               Yes
1               27003     1       A    M1       CNG  ...               Yes
2                4076     1       A    M1       CNG  ...               Yes
3               21622     1      C1    M2    Petrol  ...               Yes
4               34738     2       A    M3    Petrol  ...               Yes

  is_driver_seat_height_adjustable is_day_night_rear_view_mirror  is_ecw  \
0                               No                            No      No
1                               No                            No      No
2                               No                            No      No
3                              Yes                           Yes     Yes
4                               No                           Yes     Yes

  is_speed_alert ncap_rating is_claim       City             car_type  \
0            Yes           0        0    Wexford  Large Work Vehicles
1            Yes           0        0      Derry  Large Work Vehicles
2            Yes           0        0     Arklow  Large Work Vehicles
3            Yes           2        0    Belfast                  SUV
4            Yes           2        0  Waterford         Compact Cars

  consumption_rate_(L/km)
0                   18.75
1                   18.75
2                   18.75
3                   16.25
4                   13.75

[5 rows x 47 columns]

In [15]:
df

,policy_id,policy_tenure,age_of_car,age_of_policyholder,area_cluster,population_density,make,segment,model,fuel_type,...,is_power_steering,is_driver_seat_height_adjustable,is_day_night_rear_view_mirror,is_ecw,is_speed_alert,ncap_rating,is_claim,City,car_type,consumption_rate_(L/km)
0,ID00001,0.515874,0.05,0.644231,C1,4990,1,A,M1,CNG,...,Yes,No,No,No,Yes,0,0,Wexford,Large Work Vehicles,18.75
1,ID00002,0.672619,0.02,0.375000,C2,27003,1,A,M1,CNG,...,Yes,No,No,No,Yes,0,0,Derry,Large Work Vehicles,18.75
2,ID00003,0.841110,0.02,0.384615,C3,4076,1,A,M1,CNG,...,Yes,No,No,No,Yes,0,0,Arklow,Large Work Vehicles,18.75
3,ID00004,0.900277,0.11,0.432692,C4,21622,1,C1,M2,Petrol,...,Yes,Yes,Yes,Yes,Yes,2,0,Belfast,SUV,16.25
4,ID00005,0.596403,0.11,0.634615,C5,34738,2,A,M3,Petrol,...,Yes,No,Yes,Yes,Yes,2,0,Waterford,Compact Cars,13.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58587,ID58588,0.355089,0.13,0.644231,C8,8794,2,A,M3,Petrol,...,Yes,No,Yes,Yes,Yes,2,0,Kilkenny,Compact Cars,13.75
58588,ID58589,1.199642,0.02,0.519231,C14,7788,1,A,M1,CNG,...,Yes,No,No,No,Yes,0,0,Sligo,Large Work Vehicles,18.75
58589,ID58590,1.162273,0.05,0.451923,C5,34738,1,A,M1,CNG,...,Yes,No,No,No,Yes,0,0,Waterford,Large Work Vehicles,18.75
58590,ID58591,1.236307,0.14,0.557692,C8,8794,1,B2,M6,Petrol,...,Yes,Yes,Yes,Yes,Yes,2,0,Kilkenny,Daily Drive,15.00
58591,ID58592,0.124429,0.02,0.442308,C8,8794,3,C2,M4,Diesel,...,Yes,Yes,No,Yes,Yes,3,0,Kilkenny,Large Work Vehicles,21.25

In [16]:
# Dictionary mapping engine types to highway and city fuel consumption rates
highway_fuel_consumption = {
    'F8D Petrol Engine': 6.75,
    '1.2 L K12N Dualjet': 5.85,
    '1.0 SCe': 4.95,
    '1.5 L U2 CRDi': 7.65,
    '1.5 Turbocharged Revotorq': 7.2,
    'K Series Dual jet': 5.4,
    '1.2 L K Series Engine': 5.85,
    'K10C': 4.5,
    'i-DTEC': 6.75,
    'G12B': 5.4,
    '1.5 Turbocharged Revotron': 7.2
}

city_fuel_consumption = {
    'F8D Petrol Engine': 9,
    '1.2 L K12N Dualjet': 7.8,
    '1.0 SCe': 6.6,
    '1.5 L U2 CRDi': 10.2,
    '1.5 Turbocharged Revotorq': 9.6,
    'K Series Dual jet': 7.2,
    '1.2 L K Series Engine': 7.8,
    'K10C': 6,
    'i-DTEC': 9,
    'G12B': 7.2,
    '1.5 Turbocharged Revotron': 9.6
}
# Applying a 2.5x multiplier to all consumption rates
highway_fuel_consumption = {key: value * 2.5 for key, value in highway_fuel_consumption.items()}
# Applying a 2.5x multiplier to all consumption rates
city_fuel_consumption = {key: value * 2.5 for key, value in city_fuel_consumption.items()}


# Create new columns for highway and city fuel consumption rates
df['fuel_consumption_Hwy (L/100 km)'] = df['engine_type'].map(highway_fuel_consumption)
df['fuel_consumption_City (L/100 km)'] = df['engine_type'].map(city_fuel_consumption)

# Display the DataFrame with the new columns
print(df.head())

  policy_id  policy_tenure  age_of_car  age_of_policyholder area_cluster  \
0   ID00001       0.515874        0.05             0.644231           C1
1   ID00002       0.672619        0.02             0.375000           C2
2   ID00003       0.841110        0.02             0.384615           C3
3   ID00004       0.900277        0.11             0.432692           C4
4   ID00005       0.596403        0.11             0.634615           C5

   population_density  make segment model fuel_type  ...  \
0                4990     1       A    M1       CNG  ...
1               27003     1       A    M1       CNG  ...
2                4076     1       A    M1       CNG  ...
3               21622     1      C1    M2    Petrol  ...
4               34738     2       A    M3    Petrol  ...

  is_day_night_rear_view_mirror is_ecw is_speed_alert  ncap_rating is_claim  \
0                            No     No            Yes            0        0
1                            No     No            Yes            0        0
2                            No     No            Yes            0        0
3                           Yes    Yes            Yes            2        0
4                           Yes    Yes            Yes            2        0

        City             car_type consumption_rate_(L/km)  \
0    Wexford  Large Work Vehicles                   18.75
1      Derry  Large Work Vehicles                   18.75
2     Arklow  Large Work Vehicles                   18.75
3    Belfast                  SUV                   16.25
4  Waterford         Compact Cars                   13.75

  fuel_consumption_Hwy (L/100 km) fuel_consumption_City (L/100 km)
0                          16.875                             22.5
1                          16.875                             22.5
2                          16.875                             22.5
3                          14.625                             19.5
4                          12.375                             16.5

[5 rows x 49 columns]

In [17]:
df

,policy_id,policy_tenure,age_of_car,age_of_policyholder,area_cluster,population_density,make,segment,model,fuel_type,...,is_day_night_rear_view_mirror,is_ecw,is_speed_alert,ncap_rating,is_claim,City,car_type,consumption_rate_(L/km),fuel_consumption_Hwy (L/100 km),fuel_consumption_City (L/100 km)
0,ID00001,0.515874,0.05,0.644231,C1,4990,1,A,M1,CNG,...,No,No,Yes,0,0,Wexford,Large Work Vehicles,18.75,16.875,22.5
1,ID00002,0.672619,0.02,0.375000,C2,27003,1,A,M1,CNG,...,No,No,Yes,0,0,Derry,Large Work Vehicles,18.75,16.875,22.5
2,ID00003,0.841110,0.02,0.384615,C3,4076,1,A,M1,CNG,...,No,No,Yes,0,0,Arklow,Large Work Vehicles,18.75,16.875,22.5
3,ID00004,0.900277,0.11,0.432692,C4,21622,1,C1,M2,Petrol,...,Yes,Yes,Yes,2,0,Belfast,SUV,16.25,14.625,19.5
4,ID00005,0.596403,0.11,0.634615,C5,34738,2,A,M3,Petrol,...,Yes,Yes,Yes,2,0,Waterford,Compact Cars,13.75,12.375,16.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58587,ID58588,0.355089,0.13,0.644231,C8,8794,2,A,M3,Petrol,...,Yes,Yes,Yes,2,0,Kilkenny,Compact Cars,13.75,12.375,16.5
58588,ID58589,1.199642,0.02,0.519231,C14,7788,1,A,M1,CNG,...,No,No,Yes,0,0,Sligo,Large Work Vehicles,18.75,16.875,22.5
58589,ID58590,1.162273,0.05,0.451923,C5,34738,1,A,M1,CNG,...,No,No,Yes,0,0,Waterford,Large Work Vehicles,18.75,16.875,22.5
58590,ID58591,1.236307,0.14,0.557692,C8,8794,1,B2,M6,Petrol,...,Yes,Yes,Yes,2,0,Kilkenny,Daily Drive,15.00,13.500,18.0
58591,ID58592,0.124429,0.02,0.442308,C8,8794,3,C2,M4,Diesel,...,No,Yes,Yes,3,0,Kilkenny,Large Work Vehicles,21.25,19.125,25.5

In [18]:
# Define age factor for each age bin
age_factor_bins = {
    (0, 0.05): 1,   # New cars, no age factor
    (0.05, 0.1): 1.2,  # Slightly aged cars
    (0.1, 0.15): 1.5,  # Moderately aged cars
    (0.15, 1): 2      # Old cars, higher age factor
}

# Function to apply age factor based on age_of_car
def apply_age_factor(age):
    for age_range, factor in age_factor_bins.items():
        if age_range[0] <= age < age_range[1]:
            return factor
    return 1  # Default factor for unknown ages

# Apply age factor to adjust fuel consumption rates
df['age_factor'] = df['age_of_car'].apply(apply_age_factor)
df['fuel_consumption_Hwy (L/100 km)'] *= df['age_factor']
df['fuel_consumption_City (L/100 km)'] *= df['age_factor']

# Drop age_factor column
df.drop('age_factor', axis=1, inplace=True)

# Display the DataFrame with the adjusted fuel consumption columns
print(df.head())

  policy_id  policy_tenure  age_of_car  age_of_policyholder area_cluster  \
0   ID00001       0.515874        0.05             0.644231           C1
1   ID00002       0.672619        0.02             0.375000           C2
2   ID00003       0.841110        0.02             0.384615           C3
3   ID00004       0.900277        0.11             0.432692           C4
4   ID00005       0.596403        0.11             0.634615           C5

   population_density  make segment model fuel_type  ...  \
0                4990     1       A    M1       CNG  ...
1               27003     1       A    M1       CNG  ...
2                4076     1       A    M1       CNG  ...
3               21622     1      C1    M2    Petrol  ...
4               34738     2       A    M3    Petrol  ...

  is_day_night_rear_view_mirror is_ecw is_speed_alert  ncap_rating is_claim  \
0                            No     No            Yes            0        0
1                            No     No            Yes            0        0
2                            No     No            Yes            0        0
3                           Yes    Yes            Yes            2        0
4                           Yes    Yes            Yes            2        0

        City             car_type consumption_rate_(L/km)  \
0    Wexford  Large Work Vehicles                   18.75
1      Derry  Large Work Vehicles                   18.75
2     Arklow  Large Work Vehicles                   18.75
3    Belfast                  SUV                   16.25
4  Waterford         Compact Cars                   13.75

  fuel_consumption_Hwy (L/100 km) fuel_consumption_City (L/100 km)
0                         20.2500                            27.00
1                         16.8750                            22.50
2                         16.8750                            22.50
3                         21.9375                            29.25
4                         18.5625                            24.75

[5 rows x 49 columns]

In [19]:
df

,policy_id,policy_tenure,age_of_car,age_of_policyholder,area_cluster,population_density,make,segment,model,fuel_type,...,is_day_night_rear_view_mirror,is_ecw,is_speed_alert,ncap_rating,is_claim,City,car_type,consumption_rate_(L/km),fuel_consumption_Hwy (L/100 km),fuel_consumption_City (L/100 km)
0,ID00001,0.515874,0.05,0.644231,C1,4990,1,A,M1,CNG,...,No,No,Yes,0,0,Wexford,Large Work Vehicles,18.75,20.2500,27.00
1,ID00002,0.672619,0.02,0.375000,C2,27003,1,A,M1,CNG,...,No,No,Yes,0,0,Derry,Large Work Vehicles,18.75,16.8750,22.50
2,ID00003,0.841110,0.02,0.384615,C3,4076,1,A,M1,CNG,...,No,No,Yes,0,0,Arklow,Large Work Vehicles,18.75,16.8750,22.50
3,ID00004,0.900277,0.11,0.432692,C4,21622,1,C1,M2,Petrol,...,Yes,Yes,Yes,2,0,Belfast,SUV,16.25,21.9375,29.25
4,ID00005,0.596403,0.11,0.634615,C5,34738,2,A,M3,Petrol,...,Yes,Yes,Yes,2,0,Waterford,Compact Cars,13.75,18.5625,24.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58587,ID58588,0.355089,0.13,0.644231,C8,8794,2,A,M3,Petrol,...,Yes,Yes,Yes,2,0,Kilkenny,Compact Cars,13.75,18.5625,24.75
58588,ID58589,1.199642,0.02,0.519231,C14,7788,1,A,M1,CNG,...,No,No,Yes,0,0,Sligo,Large Work Vehicles,18.75,16.8750,22.50
58589,ID58590,1.162273,0.05,0.451923,C5,34738,1,A,M1,CNG,...,No,No,Yes,0,0,Waterford,Large Work Vehicles,18.75,20.2500,27.00
58590,ID58591,1.236307,0.14,0.557692,C8,8794,1,B2,M6,Petrol,...,Yes,Yes,Yes,2,0,Kilkenny,Daily Drive,15.00,20.2500,27.00
58591,ID58592,0.124429,0.02,0.442308,C8,8794,3,C2,M4,Diesel,...,No,Yes,Yes,3,0,Kilkenny,Large Work Vehicles,21.25,19.1250,25.50

In [20]:
# Find the rows with the highest age_of_car
highest_age_rows = df.nlargest(1, 'age_of_car')

# Print the rows
print(highest_age_rows)

     policy_id  policy_tenure  age_of_car  age_of_policyholder area_cluster  \
4804   ID04805       0.685734         1.0             0.317308           C3

      population_density  make segment model fuel_type  ...  \
4804                4076     3      C2    M4    Diesel  ...

     is_day_night_rear_view_mirror is_ecw is_speed_alert  ncap_rating  \
4804                            No    Yes            Yes            3

     is_claim    City             car_type consumption_rate_(L/km)  \
4804        0  Arklow  Large Work Vehicles                   21.25

     fuel_consumption_Hwy (L/100 km) fuel_consumption_City (L/100 km)
4804                          19.125                             25.5

[1 rows x 49 columns]

In [21]:
df2 = df

In [22]:
# Print the distribution of car age
print(df['age_of_car'].value_counts())

age_of_car
0.01    6362
0.00    5257
0.02    5189
0.03    4415
0.04    3763
0.05    3342
0.10    3123
0.06    3053
0.07    2888
0.08    2730
0.09    2643
0.12    2506
0.11    2442
0.13    2315
0.14    2151
0.15    1964
0.16    1291
0.17     931
0.18     738
0.19     458
0.20     287
0.21     172
0.22     148
0.23      90
0.24      65
0.25      46
0.30      32
0.27      29
0.31      26
0.28      25
0.26      24
0.29      21
0.32      13
0.33      12
0.36       8
0.34       6
0.39       5
0.38       4
1.00       3
0.37       3
0.49       2
0.46       2
0.44       2
0.42       1
0.45       1
0.35       1
0.82       1
0.62       1
0.81       1
Name: count, dtype: int64

In [23]:
unique_rows = df.drop_duplicates(subset='model', keep='first')

print(unique_rows)

    policy_id  policy_tenure  age_of_car  age_of_policyholder area_cluster  \
0     ID00001       0.515874        0.05             0.644231           C1
3     ID00004       0.900277        0.11             0.432692           C4
4     ID00005       0.596403        0.11             0.634615           C5
5     ID00006       1.018709        0.07             0.519231           C6
6     ID00007       0.097992        0.16             0.403846           C7
7     ID00008       0.509085        0.14             0.423077           C8
9     ID00010       0.566255        0.04             0.442308           C9
11    ID00012       0.083180        0.12             0.298077           C3
17    ID00018       0.241421        0.12             0.471154           C9
22    ID00023       0.630598        0.08             0.317308           C2
203   ID00204       0.085196        0.12             0.471154           C2

     population_density  make  segment model fuel_type  ...  \
0                  4990     1        A    M1       CNG  ...
3                 21622     1       C1    M2    Petrol  ...
4                 34738     2        A    M3    Petrol  ...
5                 13051     3       C2    M4    Diesel  ...
6                  6112     4       B2    M5    Diesel  ...
7                  8794     1       B2    M6    Petrol  ...
9                 17804     1       B2    M7    Petrol  ...
11                 4076     1       B1    M8       CNG  ...
17                17804     5       C1    M9    Diesel  ...
22                27003     1  Utility   M10       CNG  ...
203               27003     4       C1   M11    Petrol  ...

    is_day_night_rear_view_mirror is_ecw is_speed_alert  ncap_rating is_claim  \
0                              No     No            Yes            0        0
3                             Yes    Yes            Yes            2        0
4                             Yes    Yes            Yes            2        0
5                              No    Yes            Yes            3        0
6                              No    Yes            Yes            5        0
7                             Yes    Yes            Yes            2        0
9                             Yes    Yes            Yes            0        0
11                             No    Yes            Yes            2        0
17                            Yes    Yes            Yes            4        0
22                             No     No            Yes            0        0
203                            No    Yes             No            5        0

          City             car_type consumption_rate_(L/km)  \
0      Wexford  Large Work Vehicles                   18.75
3      Belfast                  SUV                   16.25
4    Waterford         Compact Cars                   13.75
5        Ennis  Large Work Vehicles                   21.25
6       Carlow  Large Work Vehicles                   20.00
7     Kilkenny          Daily Drive                   15.00
9         Bray          Daily Drive                   16.25
11      Arklow  Large Work Vehicles                   12.50
17        Bray  Large Work Vehicles                   18.75
22       Derry                  SUV                   15.00
203      Derry                  SUV                   20.00

    fuel_consumption_Hwy (L/100 km) fuel_consumption_City (L/100 km)
0                           20.2500                            27.00
3                           21.9375                            29.25
4                           18.5625                            24.75
5                           22.9500                            30.60
6                           36.0000                            48.00
7                           20.2500                            27.00
9                           14.6250                            19.50
11                          16.8750                            22.50
17                          25.3125                            33.75
22                          16.2000                            21.60
203                         27.0000                            36.00

[11 rows x 49 columns]

In [24]:
car_mapping = {
    'M1': 'Maruti Suzuki Alto',
    'M2': 'Suzuki Vitara',
    'M3': 'Renault Kwid',
    'M4': 'Hyundai Creta',
    'M5': 'Tata Nexon',
    'M6': 'Maruti Suzuki Swift',
    'M7': 'Maruti Suzuki Baleno',
    'M8': 'Maruti Suzuki Eeco',
    'M9': 'Honda BR-V',
    'M10': 'Maruti Suzuki Ertiga',
    'M11': 'Tata Harrier'
}

# Function to map model to car
def map_model_to_car(model):
    return car_mapping.get(model, 'Unknown')

# Create the 'car' column
df['car'] = df['model'].apply(map_model_to_car)

print(df)

      policy_id  policy_tenure  age_of_car  age_of_policyholder area_cluster  \
0       ID00001       0.515874        0.05             0.644231           C1
1       ID00002       0.672619        0.02             0.375000           C2
2       ID00003       0.841110        0.02             0.384615           C3
3       ID00004       0.900277        0.11             0.432692           C4
4       ID00005       0.596403        0.11             0.634615           C5
...         ...            ...         ...                  ...          ...
58587   ID58588       0.355089        0.13             0.644231           C8
58588   ID58589       1.199642        0.02             0.519231          C14
58589   ID58590       1.162273        0.05             0.451923           C5
58590   ID58591       1.236307        0.14             0.557692           C8
58591   ID58592       0.124429        0.02             0.442308           C8

       population_density  make segment model fuel_type  ... is_ecw  \
0                    4990     1       A    M1       CNG  ...     No
1                   27003     1       A    M1       CNG  ...     No
2                    4076     1       A    M1       CNG  ...     No
3                   21622     1      C1    M2    Petrol  ...    Yes
4                   34738     2       A    M3    Petrol  ...    Yes
...                   ...   ...     ...   ...       ...  ...    ...
58587                8794     2       A    M3    Petrol  ...    Yes
58588                7788     1       A    M1       CNG  ...     No
58589               34738     1       A    M1       CNG  ...     No
58590                8794     1      B2    M6    Petrol  ...    Yes
58591                8794     3      C2    M4    Diesel  ...    Yes

      is_speed_alert ncap_rating  is_claim       City             car_type  \
0                Yes           0         0    Wexford  Large Work Vehicles
1                Yes           0         0      Derry  Large Work Vehicles
2                Yes           0         0     Arklow  Large Work Vehicles
3                Yes           2         0    Belfast                  SUV
4                Yes           2         0  Waterford         Compact Cars
...              ...         ...       ...        ...                  ...
58587            Yes           2         0   Kilkenny         Compact Cars
58588            Yes           0         0      Sligo  Large Work Vehicles
58589            Yes           0         0  Waterford  Large Work Vehicles
58590            Yes           2         0   Kilkenny          Daily Drive
58591            Yes           3         0   Kilkenny  Large Work Vehicles

      consumption_rate_(L/km) fuel_consumption_Hwy (L/100 km)  \
0                       18.75                         20.2500
1                       18.75                         16.8750
2                       18.75                         16.8750
3                       16.25                         21.9375
4                       13.75                         18.5625
...                       ...                             ...
58587                   13.75                         18.5625
58588                   18.75                         16.8750
58589                   18.75                         20.2500
58590                   15.00                         20.2500
58591                   21.25                         19.1250

      fuel_consumption_City (L/100 km)                  car
0                                27.00   Maruti Suzuki Alto
1                                22.50   Maruti Suzuki Alto
2                                22.50   Maruti Suzuki Alto
3                                29.25        Suzuki Vitara
4                                24.75         Renault Kwid
...                                ...                  ...
58587                            24.75         Renault Kwid
58588                            22.50   Maruti Suzuki Alto
58589                            27.00   Maruti Suzuki Alto
58590                            27.00  Maruti Suzuki Swift
58591                            25.50        Hyundai Creta

[58592 rows x 50 columns]

In [25]:
# Dictionary mapping fuel types to CO2 emissions in grams per liter (g/L)
fuel_emissions = {
    'CNG': 2805,
    'Diesel': 3465,
    'Petrol': 3135
}

# Create a new column 'Emissions G/L' and fill it with the emissions for each fuel type
df['Emissions G/L'] = df['fuel_type'].map(fuel_emissions)

# Display the DataFrame with the new column
print(df.head())

  policy_id  policy_tenure  age_of_car  age_of_policyholder area_cluster  \
0   ID00001       0.515874        0.05             0.644231           C1
1   ID00002       0.672619        0.02             0.375000           C2
2   ID00003       0.841110        0.02             0.384615           C3
3   ID00004       0.900277        0.11             0.432692           C4
4   ID00005       0.596403        0.11             0.634615           C5

   population_density  make segment model fuel_type  ... is_speed_alert  \
0                4990     1       A    M1       CNG  ...            Yes
1               27003     1       A    M1       CNG  ...            Yes
2                4076     1       A    M1       CNG  ...            Yes
3               21622     1      C1    M2    Petrol  ...            Yes
4               34738     2       A    M3    Petrol  ...            Yes

  ncap_rating is_claim       City             car_type  \
0           0        0    Wexford  Large Work Vehicles
1           0        0      Derry  Large Work Vehicles
2           0        0     Arklow  Large Work Vehicles
3           2        0    Belfast                  SUV
4           2        0  Waterford         Compact Cars

  consumption_rate_(L/km) fuel_consumption_Hwy (L/100 km)  \
0                   18.75                         20.2500
1                   18.75                         16.8750
2                   18.75                         16.8750
3                   16.25                         21.9375
4                   13.75                         18.5625

  fuel_consumption_City (L/100 km)                 car Emissions G/L
0                            27.00  Maruti Suzuki Alto          2805
1                            22.50  Maruti Suzuki Alto          2805
2                            22.50  Maruti Suzuki Alto          2805
3                            29.25       Suzuki Vitara          3135
4                            24.75        Renault Kwid          3135

[5 rows x 51 columns]

In [26]:
# Select columns with 'Yes' or 'No' answers
boolean_columns = [col for col in df.columns if df[col].isin(['Yes', 'No']).all()]

# Map 'Yes' to 1 and 'No' to 0
df[boolean_columns] = df[boolean_columns].replace({'Yes': 1, 'No': 0})

# Display the updated DataFrame
print(df.head())

  policy_id  policy_tenure  age_of_car  age_of_policyholder area_cluster  \
0   ID00001       0.515874        0.05             0.644231           C1
1   ID00002       0.672619        0.02             0.375000           C2
2   ID00003       0.841110        0.02             0.384615           C3
3   ID00004       0.900277        0.11             0.432692           C4
4   ID00005       0.596403        0.11             0.634615           C5

   population_density  make segment model fuel_type  ... is_speed_alert  \
0                4990     1       A    M1       CNG  ...              1
1               27003     1       A    M1       CNG  ...              1
2                4076     1       A    M1       CNG  ...              1
3               21622     1      C1    M2    Petrol  ...              1
4               34738     2       A    M3    Petrol  ...              1

  ncap_rating is_claim       City             car_type  \
0           0        0    Wexford  Large Work Vehicles
1           0        0      Derry  Large Work Vehicles
2           0        0     Arklow  Large Work Vehicles
3           2        0    Belfast                  SUV
4           2        0  Waterford         Compact Cars

   consumption_rate_(L/km)  fuel_consumption_Hwy (L/100 km)  \
0                    18.75                          20.2500
1                    18.75                          16.8750
2                    18.75                          16.8750
3                    16.25                          21.9375
4                    13.75                          18.5625

   fuel_consumption_City (L/100 km)                 car Emissions G/L
0                             27.00  Maruti Suzuki Alto          2805
1                             22.50  Maruti Suzuki Alto          2805
2                             22.50  Maruti Suzuki Alto          2805
3                             29.25       Suzuki Vitara          3135
4                             24.75        Renault Kwid          3135

[5 rows x 51 columns]

C:\Users\nolla\AppData\Local\Temp\ipykernel_22784\704748108.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[boolean_columns] = df[boolean_columns].replace({'Yes': 1, 'No': 0})

In [27]:
# Mapping of city distances
city_distances = {
    'Bray': {'average_travel_city_km/day': 10.62, 'average_travel_highway_km/day': 19.51},
    'Arklow': {'average_travel_city_km/day': 13.12, 'average_travel_highway_km/day': 15.99},
    'Carlow': {'average_travel_city_km/day': 4.09, 'average_travel_highway_km/day': 6.56},
    'Cork': {'average_travel_city_km/day': 3.41, 'average_travel_highway_km/day': 13.66},
    'Derry': {'average_travel_city_km/day': 7.21, 'average_travel_highway_km/day': 12.08},
    'Dublin': {'average_travel_city_km/day': 3.14, 'average_travel_highway_km/day': 14.70},
    'Ennis': {'average_travel_city_km/day': 8.83, 'average_travel_highway_km/day': 7.12},
    'Galway': {'average_travel_city_km/day': 4.27, 'average_travel_highway_km/day': 6.83},
    'Kilkenny': {'average_travel_city_km/day': 5.13, 'average_travel_highway_km/day': 10.25},
    'Limerick': {'average_travel_city_km/day': 6.02, 'average_travel_highway_km/day': 7.91},
    'Belfast': {'average_travel_city_km/day': 24.18, 'average_travel_highway_km/day': 22.79},
    'Drogheda': {'average_travel_city_km/day': 19.38, 'average_travel_highway_km/day': 27.33},
    'Dundalk': {'average_travel_city_km/day': 21.84, 'average_travel_highway_km/day': 35.70},
    'Mullingar': {'average_travel_city_km/day': 18.00, 'average_travel_highway_km/day': 30.28},
    'Naas': {'average_travel_city_km/day': 23.89, 'average_travel_highway_km/day': 20.93},
    'Navan': {'average_travel_city_km/day': 24.11, 'average_travel_highway_km/day': 23.41},
    'Roscommon': {'average_travel_city_km/day': 15.98, 'average_travel_highway_km/day': 38.98},
    'Sligo': {'average_travel_city_km/day': 29.48, 'average_travel_highway_km/day': 36.17},
    'Tralee': {'average_travel_city_km/day': 19.57, 'average_travel_highway_km/day': 21.95},
    'Tullamore': {'average_travel_city_km/day': 25.26, 'average_travel_highway_km/day': 28.80},
    'Wexford':  {'average_travel_city_km/day': 7.5, 'average_travel_highway_km/day': 8.1},
    'Waterford':  {'average_travel_city_km/day': 12.5, 'average_travel_highway_km/day': 15.1}
    

}

# Adding new columns based on city
df['average_travel_city_km/day'] = df['City'].map(lambda x: city_distances[x]['average_travel_city_km/day'])
df['average_travel_highway_km/day'] = df['City'].map(lambda x: city_distances[x]['average_travel_highway_km/day'])

print(df)

      policy_id  policy_tenure  age_of_car  age_of_policyholder area_cluster  \
0       ID00001       0.515874        0.05             0.644231           C1
1       ID00002       0.672619        0.02             0.375000           C2
2       ID00003       0.841110        0.02             0.384615           C3
3       ID00004       0.900277        0.11             0.432692           C4
4       ID00005       0.596403        0.11             0.634615           C5
...         ...            ...         ...                  ...          ...
58587   ID58588       0.355089        0.13             0.644231           C8
58588   ID58589       1.199642        0.02             0.519231          C14
58589   ID58590       1.162273        0.05             0.451923           C5
58590   ID58591       1.236307        0.14             0.557692           C8
58591   ID58592       0.124429        0.02             0.442308           C8

       population_density  make segment model fuel_type  ... is_claim  \
0                    4990     1       A    M1       CNG  ...        0
1                   27003     1       A    M1       CNG  ...        0
2                    4076     1       A    M1       CNG  ...        0
3                   21622     1      C1    M2    Petrol  ...        0
4                   34738     2       A    M3    Petrol  ...        0
...                   ...   ...     ...   ...       ...  ...      ...
58587                8794     2       A    M3    Petrol  ...        0
58588                7788     1       A    M1       CNG  ...        0
58589               34738     1       A    M1       CNG  ...        0
58590                8794     1      B2    M6    Petrol  ...        0
58591                8794     3      C2    M4    Diesel  ...        0

            City             car_type  consumption_rate_(L/km)  \
0        Wexford  Large Work Vehicles                    18.75
1          Derry  Large Work Vehicles                    18.75
2         Arklow  Large Work Vehicles                    18.75
3        Belfast                  SUV                    16.25
4      Waterford         Compact Cars                    13.75
...          ...                  ...                      ...
58587   Kilkenny         Compact Cars                    13.75
58588      Sligo  Large Work Vehicles                    18.75
58589  Waterford  Large Work Vehicles                    18.75
58590   Kilkenny          Daily Drive                    15.00
58591   Kilkenny  Large Work Vehicles                    21.25

       fuel_consumption_Hwy (L/100 km)  fuel_consumption_City (L/100 km)  \
0                              20.2500                             27.00
1                              16.8750                             22.50
2                              16.8750                             22.50
3                              21.9375                             29.25
4                              18.5625                             24.75
...                                ...                               ...
58587                          18.5625                             24.75
58588                          16.8750                             22.50
58589                          20.2500                             27.00
58590                          20.2500                             27.00
58591                          19.1250                             25.50

                       car  Emissions G/L  average_travel_city_km/day  \
0       Maruti Suzuki Alto           2805                        7.50
1       Maruti Suzuki Alto           2805                        7.21
2       Maruti Suzuki Alto           2805                       13.12
3            Suzuki Vitara           3135                       24.18
4             Renault Kwid           3135                       12.50
...                    ...            ...                         ...
58587         Renault Kwid           3135                        5.13
58588   Maruti Suzuki Alto           2805                       29.48
58589   Maruti Suzuki Alto           2805                       12.50
58590  Maruti Suzuki Swift           3135                        5.13
58591        Hyundai Creta           3465                        5.13

      average_travel_highway_km/day
0                              8.10
1                             12.08
2                             15.99
3                             22.79
4                             15.10
...                             ...
58587                         10.25
58588                         36.17
58589                         15.10
58590                         10.25
58591                         10.25

[58592 rows x 53 columns]

In [28]:
# Mapping of car types to multiplier values
car_type_multipliers = {
    'Compact Cars': 0.5,
    'Daily Drive': 0.8,
    'Large Work Vehicles': 1.0,
    'SUV': 0.5
}

# Map car types to their multipliers and multiply the distance columns
df['car_type_multiplier'] = df['car_type'].map(car_type_multipliers)
df['average_travel_city_km/day'] *= df['car_type_multiplier']
df['average_travel_highway_km/day'] *= df['car_type_multiplier']

# Drop the temporary column used for multipliers
df.drop(columns=['car_type_multiplier'], inplace=True)

print(df)

      policy_id  policy_tenure  age_of_car  age_of_policyholder area_cluster  \
0       ID00001       0.515874        0.05             0.644231           C1
1       ID00002       0.672619        0.02             0.375000           C2
2       ID00003       0.841110        0.02             0.384615           C3
3       ID00004       0.900277        0.11             0.432692           C4
4       ID00005       0.596403        0.11             0.634615           C5
...         ...            ...         ...                  ...          ...
58587   ID58588       0.355089        0.13             0.644231           C8
58588   ID58589       1.199642        0.02             0.519231          C14
58589   ID58590       1.162273        0.05             0.451923           C5
58590   ID58591       1.236307        0.14             0.557692           C8
58591   ID58592       0.124429        0.02             0.442308           C8

       population_density  make segment model fuel_type  ... is_claim  \
0                    4990     1       A    M1       CNG  ...        0
1                   27003     1       A    M1       CNG  ...        0
2                    4076     1       A    M1       CNG  ...        0
3                   21622     1      C1    M2    Petrol  ...        0
4                   34738     2       A    M3    Petrol  ...        0
...                   ...   ...     ...   ...       ...  ...      ...
58587                8794     2       A    M3    Petrol  ...        0
58588                7788     1       A    M1       CNG  ...        0
58589               34738     1       A    M1       CNG  ...        0
58590                8794     1      B2    M6    Petrol  ...        0
58591                8794     3      C2    M4    Diesel  ...        0

            City             car_type  consumption_rate_(L/km)  \
0        Wexford  Large Work Vehicles                    18.75
1          Derry  Large Work Vehicles                    18.75
2         Arklow  Large Work Vehicles                    18.75
3        Belfast                  SUV                    16.25
4      Waterford         Compact Cars                    13.75
...          ...                  ...                      ...
58587   Kilkenny         Compact Cars                    13.75
58588      Sligo  Large Work Vehicles                    18.75
58589  Waterford  Large Work Vehicles                    18.75
58590   Kilkenny          Daily Drive                    15.00
58591   Kilkenny  Large Work Vehicles                    21.25

       fuel_consumption_Hwy (L/100 km)  fuel_consumption_City (L/100 km)  \
0                              20.2500                             27.00
1                              16.8750                             22.50
2                              16.8750                             22.50
3                              21.9375                             29.25
4                              18.5625                             24.75
...                                ...                               ...
58587                          18.5625                             24.75
58588                          16.8750                             22.50
58589                          20.2500                             27.00
58590                          20.2500                             27.00
58591                          19.1250                             25.50

                       car  Emissions G/L  average_travel_city_km/day  \
0       Maruti Suzuki Alto           2805                       7.500
1       Maruti Suzuki Alto           2805                       7.210
2       Maruti Suzuki Alto           2805                      13.120
3            Suzuki Vitara           3135                      12.090
4             Renault Kwid           3135                       6.250
...                    ...            ...                         ...
58587         Renault Kwid           3135                       2.565
58588   Maruti Suzuki Alto           2805                      29.480
58589   Maruti Suzuki Alto           2805                      12.500
58590  Maruti Suzuki Swift           3135                       4.104
58591        Hyundai Creta           3465                       5.130

      average_travel_highway_km/day
0                             8.100
1                            12.080
2                            15.990
3                            11.395
4                             7.550
...                             ...
58587                         5.125
58588                        36.170
58589                        15.100
58590                         8.200
58591                        10.250

[58592 rows x 53 columns]

In [29]:
# Create the new column 'Total weekly km'
df['Total_daily_km'] = df['average_travel_highway_km/day'] + df['average_travel_city_km/day']

print(df)

      policy_id  policy_tenure  age_of_car  age_of_policyholder area_cluster  \
0       ID00001       0.515874        0.05             0.644231           C1
1       ID00002       0.672619        0.02             0.375000           C2
2       ID00003       0.841110        0.02             0.384615           C3
3       ID00004       0.900277        0.11             0.432692           C4
4       ID00005       0.596403        0.11             0.634615           C5
...         ...            ...         ...                  ...          ...
58587   ID58588       0.355089        0.13             0.644231           C8
58588   ID58589       1.199642        0.02             0.519231          C14
58589   ID58590       1.162273        0.05             0.451923           C5
58590   ID58591       1.236307        0.14             0.557692           C8
58591   ID58592       0.124429        0.02             0.442308           C8

       population_density  make segment model fuel_type  ...       City  \
0                    4990     1       A    M1       CNG  ...    Wexford
1                   27003     1       A    M1       CNG  ...      Derry
2                    4076     1       A    M1       CNG  ...     Arklow
3                   21622     1      C1    M2    Petrol  ...    Belfast
4                   34738     2       A    M3    Petrol  ...  Waterford
...                   ...   ...     ...   ...       ...  ...        ...
58587                8794     2       A    M3    Petrol  ...   Kilkenny
58588                7788     1       A    M1       CNG  ...      Sligo
58589               34738     1       A    M1       CNG  ...  Waterford
58590                8794     1      B2    M6    Petrol  ...   Kilkenny
58591                8794     3      C2    M4    Diesel  ...   Kilkenny

                  car_type consumption_rate_(L/km)  \
0      Large Work Vehicles                   18.75
1      Large Work Vehicles                   18.75
2      Large Work Vehicles                   18.75
3                      SUV                   16.25
4             Compact Cars                   13.75
...                    ...                     ...
58587         Compact Cars                   13.75
58588  Large Work Vehicles                   18.75
58589  Large Work Vehicles                   18.75
58590          Daily Drive                   15.00
58591  Large Work Vehicles                   21.25

       fuel_consumption_Hwy (L/100 km)  fuel_consumption_City (L/100 km)  \
0                              20.2500                             27.00
1                              16.8750                             22.50
2                              16.8750                             22.50
3                              21.9375                             29.25
4                              18.5625                             24.75
...                                ...                               ...
58587                          18.5625                             24.75
58588                          16.8750                             22.50
58589                          20.2500                             27.00
58590                          20.2500                             27.00
58591                          19.1250                             25.50

                       car  Emissions G/L  average_travel_city_km/day  \
0       Maruti Suzuki Alto           2805                       7.500
1       Maruti Suzuki Alto           2805                       7.210
2       Maruti Suzuki Alto           2805                      13.120
3            Suzuki Vitara           3135                      12.090
4             Renault Kwid           3135                       6.250
...                    ...            ...                         ...
58587         Renault Kwid           3135                       2.565
58588   Maruti Suzuki Alto           2805                      29.480
58589   Maruti Suzuki Alto           2805                      12.500
58590  Maruti Suzuki Swift           3135                       4.104
58591        Hyundai Creta           3465                       5.130

       average_travel_highway_km/day Total_daily_km
0                              8.100         15.600
1                             12.080         19.290
2                             15.990         29.110
3                             11.395         23.485
4                              7.550         13.800
...                              ...            ...
58587                          5.125          7.690
58588                         36.170         65.650
58589                         15.100         27.600
58590                          8.200         12.304
58591                         10.250         15.380

[58592 rows x 54 columns]

In [30]:
# Create the new column 'CO2_Emissions (g/Day)'
df['CO2_Emissions (g/Day)'] = df['Total_daily_km'] * df['Emissions G/L']

print(df)

      policy_id  policy_tenure  age_of_car  age_of_policyholder area_cluster  \
0       ID00001       0.515874        0.05             0.644231           C1
1       ID00002       0.672619        0.02             0.375000           C2
2       ID00003       0.841110        0.02             0.384615           C3
3       ID00004       0.900277        0.11             0.432692           C4
4       ID00005       0.596403        0.11             0.634615           C5
...         ...            ...         ...                  ...          ...
58587   ID58588       0.355089        0.13             0.644231           C8
58588   ID58589       1.199642        0.02             0.519231          C14
58589   ID58590       1.162273        0.05             0.451923           C5
58590   ID58591       1.236307        0.14             0.557692           C8
58591   ID58592       0.124429        0.02             0.442308           C8

       population_density  make segment model fuel_type  ...  \
0                    4990     1       A    M1       CNG  ...
1                   27003     1       A    M1       CNG  ...
2                    4076     1       A    M1       CNG  ...
3                   21622     1      C1    M2    Petrol  ...
4                   34738     2       A    M3    Petrol  ...
...                   ...   ...     ...   ...       ...  ...
58587                8794     2       A    M3    Petrol  ...
58588                7788     1       A    M1       CNG  ...
58589               34738     1       A    M1       CNG  ...
58590                8794     1      B2    M6    Petrol  ...
58591                8794     3      C2    M4    Diesel  ...

                  car_type consumption_rate_(L/km)  \
0      Large Work Vehicles                   18.75
1      Large Work Vehicles                   18.75
2      Large Work Vehicles                   18.75
3                      SUV                   16.25
4             Compact Cars                   13.75
...                    ...                     ...
58587         Compact Cars                   13.75
58588  Large Work Vehicles                   18.75
58589  Large Work Vehicles                   18.75
58590          Daily Drive                   15.00
58591  Large Work Vehicles                   21.25

      fuel_consumption_Hwy (L/100 km)  fuel_consumption_City (L/100 km)  \
0                             20.2500                             27.00
1                             16.8750                             22.50
2                             16.8750                             22.50
3                             21.9375                             29.25
4                             18.5625                             24.75
...                               ...                               ...
58587                         18.5625                             24.75
58588                         16.8750                             22.50
58589                         20.2500                             27.00
58590                         20.2500                             27.00
58591                         19.1250                             25.50

                       car  Emissions G/L  average_travel_city_km/day  \
0       Maruti Suzuki Alto           2805                       7.500
1       Maruti Suzuki Alto           2805                       7.210
2       Maruti Suzuki Alto           2805                      13.120
3            Suzuki Vitara           3135                      12.090
4             Renault Kwid           3135                       6.250
...                    ...            ...                         ...
58587         Renault Kwid           3135                       2.565
58588   Maruti Suzuki Alto           2805                      29.480
58589   Maruti Suzuki Alto           2805                      12.500
58590  Maruti Suzuki Swift           3135                       4.104
58591        Hyundai Creta           3465                       5.130

       average_travel_highway_km/day  Total_daily_km CO2_Emissions (g/Day)
0                              8.100          15.600             43758.000
1                             12.080          19.290             54108.450
2                             15.990          29.110             81653.550
3                             11.395          23.485             73625.475
4                              7.550          13.800             43263.000
...                              ...             ...                   ...
58587                          5.125           7.690             24108.150
58588                         36.170          65.650            184148.250
58589                         15.100          27.600             77418.000
58590                          8.200          12.304             38573.040
58591                         10.250          15.380             53291.700

[58592 rows x 55 columns]

In [31]:
# Define the oldest age in years
oldest_age_years = 10

# Calculate the age of cars based on the distribution numbers
# Scale each age relative to the oldest age
df['scaled_age_of_car_years'] = df['age_of_car'] * oldest_age_years

print(df[['age_of_car', 'scaled_age_of_car_years']])

       age_of_car  scaled_age_of_car_years
0            0.05                      0.5
1            0.02                      0.2
2            0.02                      0.2
3            0.11                      1.1
4            0.11                      1.1
...           ...                      ...
58587        0.13                      1.3
58588        0.02                      0.2
58589        0.05                      0.5
58590        0.14                      1.4
58591        0.02                      0.2

[58592 rows x 2 columns]

In [32]:
df.head(50)

,policy_id,policy_tenure,age_of_car,age_of_policyholder,area_cluster,population_density,make,segment,model,fuel_type,...,consumption_rate_(L/km),fuel_consumption_Hwy (L/100 km),fuel_consumption_City (L/100 km),car,Emissions G/L,average_travel_city_km/day,average_travel_highway_km/day,Total_daily_km,CO2_Emissions (g/Day),scaled_age_of_car_years
0,ID00001,0.515874,0.05,0.644231,C1,4990,1,A,M1,CNG,...,18.75,20.2500,27.00,Maruti Suzuki Alto,2805,7.500,8.100,15.600,43758.000,0.5
1,ID00002,0.672619,0.02,0.375000,C2,27003,1,A,M1,CNG,...,18.75,16.8750,22.50,Maruti Suzuki Alto,2805,7.210,12.080,19.290,54108.450,0.2
2,ID00003,0.841110,0.02,0.384615,C3,4076,1,A,M1,CNG,...,18.75,16.8750,22.50,Maruti Suzuki Alto,2805,13.120,15.990,29.110,81653.550,0.2
3,ID00004,0.900277,0.11,0.432692,C4,21622,1,C1,M2,Petrol,...,16.25,21.9375,29.25,Suzuki Vitara,3135,12.090,11.395,23.485,73625.475,1.1
4,ID00005,0.596403,0.11,0.634615,C5,34738,2,A,M3,Petrol,...,13.75,18.5625,24.75,Renault Kwid,3135,6.250,7.550,13.800,43263.000,1.1
5,ID00006,1.018709,0.07,0.519231,C6,13051,3,C2,M4,Diesel,...,21.25,22.9500,30.60,Hyundai Creta,3465,8.830,7.120,15.950,55266.750,0.7
6,ID00007,0.097992,0.16,0.403846,C7,6112,4,B2,M5,Diesel,...,20.00,36.0000,48.00,Tata Nexon,3465,4.090,6.560,10.650,36902.250,1.6
7,ID00008,0.509085,0.14,0.423077,C8,8794,1,B2,M6,Petrol,...,15.00,20.2500,27.00,Maruti Suzuki Swift,3135,4.104,8.200,12.304,38573.040,1.4
8,ID00009,0.282394,0.07,0.298077,C7,6112,3,C2,M4,Diesel,...,21.25,22.9500,30.60,Hyundai Creta,3465,4.090,6.560,10.650,36902.250,0.7
9,ID00010,0.566255,0.04,0.442308,C9,17804,1,B2,M7,Petrol,...,16.25,14.6250,19.50,Maruti Suzuki Baleno,3135,8.496,15.608,24.104,75566.040,0.4
10,ID00011,0.951416,0.01,0.596154,C5,34738,1,A,M1,CNG,...,18.75,16.8750,22.50,Maruti Suzuki Alto,2805,12.500,15.100,27.600,77418.000,0.1
11,ID00012,0.083180,0.12,0.298077,C3,4076,1,B1,M8,CNG,...,12.50,16.8750,22.50,Maruti Suzuki Eeco,2805,13.120,15.990,29.110,81653.550,1.2
12,ID00013,0.045834,0.03,0.480769,C3,4076,1,B2,M6,Petrol,...,15.00,13.5000,18.00,Maruti Suzuki Swift,3135,10.496,12.792,23.288,73007.880,0.3
13,ID00014,0.520337,0.10,0.307692,C10,73430,1,B2,M6,Petrol,...,15.00,20.2500,27.00,Maruti Suzuki Swift,3135,2.512,11.760,14.272,44742.720,1.0
14,ID00015,0.213589,0.04,0.403846,C11,6108,1,A,M1,CNG,...,18.75,16.8750,22.50,Maruti Suzuki Alto,2805,23.890,20.930,44.820,125720.100,0.4
15,ID00016,0.897771,0.04,0.576923,C5,34738,3,C2,M4,Diesel,...,21.25,19.1250,25.50,Hyundai Creta,3465,12.500,15.100,27.600,95634.000,0.4
16,ID00017,0.321145,0.03,0.605769,C2,27003,1,A,M1,CNG,...,18.75,16.8750,22.50,Maruti Suzuki Alto,2805,7.210,12.080,19.290,54108.450,0.3
17,ID00018,0.241421,0.12,0.471154,C9,17804,5,C1,M9,Diesel,...,18.75,25.3125,33.75,Honda BR-V,3465,10.620,19.510,30.130,104400.450,1.2
18,ID00019,0.295967,0.12,0.500000,C8,8794,3,C2,M4,Diesel,...,21.25,28.6875,38.25,Hyundai Creta,3465,5.130,10.250,15.380,53291.700,1.2
19,ID00020,0.758623,0.09,0.394231,C5,34738,1,B2,M6,Petrol,...,15.00,16.2000,21.60,Maruti Suzuki Swift,3135,10.000,12.080,22.080,69220.800,0.9
20,ID00021,0.301702,0.05,0.403846,C11,6108,3,C2,M4,Diesel,...,21.25,22.9500,30.60,Hyundai Creta,3465,23.890,20.930,44.820,155301.300,0.5
21,ID00022,0.527085,0.00,0.615385,C4,21622,1,A,M1,CNG,...,18.75,16.8750,22.50,Maruti Suzuki Alto,2805,24.180,22.790,46.970,131750.850,0.0
22,ID00023,0.630598,0.08,0.317308,C2,27003,1,Utility,M10,CNG,...,15.00,16.2000,21.60,Maruti Suzuki Ertiga,2805,3.605,6.040,9.645,27054.225,0.8
23,ID00024,0.999443,0.08,0.576923,C2,27003,3,C2,M4,Diesel,...,21.25,22.9500,30.60,Hyundai Creta,3465,7.210,12.080,19.290,66839.850,0.8
24,ID00025,0.020563,0.01,0.480769,C8,8794,1,A,M1,CNG,...,18.75,16.8750,22.50,Maruti Suzuki Alto,2805,5.130,10.250,15.380,43140.900,0.1
25,ID00026,0.240959,0.07,0.317308,C3,4076,1,B2,M6,Petrol,...,15.00,16.2000,21.60,Maruti Suzuki Swift,3135,10.496,12.792,23.288,73007.880,0.7
26,ID00027,0.775664,0.02,0.375000,C11,6108,1,A,M1,CNG,...,18.75,16.8750,22.50,Maruti Suzuki Alto,2805,23.890,20.930,44.820,125720.100,0.2
27,ID00028,0.524681,0.15,0.394231,C2,27003,1,B2,M7,Petrol,...,16.25,29.2500,39.00,Maruti Suzuki Baleno,3135,5.768,9.664,15.432,48379.320,1.5
28,ID00029,0.543358,0.07,0.326923,C2,27003,1,B2,M6,Petrol,...,15.00,16.2000,21.60,Maruti Suzuki Swift,3135,5.768,9.664,15.432,48379.320,0.7
29,ID00030,1.124538,0.07,0.490385,C8,8794,1,B2,M6,Petrol,...,15.00,16.2000,21.60,Maruti Suzuki Swift,3135,4.104,8.200,12.304,38573.040,0.7
30,ID00031,1.102729,0.12,0.298077,C12,34791,1,B1,M8,CNG,...,12.50,16.8750,22.50,Maruti Suzuki Eeco,2805,6.020,7.910,13.930,39073.650,1.2
31,ID00032,1.146741,0.13,0.461538,C3,4076,1,B2,M7,Petrol,...,16.25,21.9375,29.25,Maruti Suzuki Baleno,3135,10.496,12.792,23.288,73007.880,1.3
32,ID00033,0.796578,0.02,0.461538,C1,4990,1,A,M1,CNG,...,18.75,16.8750,22.50,Maruti Suzuki Alto,2805,7.500,8.100,15.600,43758.000,0.2
33,ID00034,0.530241,0.15,0.480769,C10,73430,1,B2,M6,Petrol,...,15.00,27.0000,36.00,Maruti Suzuki Swift,3135,2.512,11.760,14.272,44742.720,1.5
34,ID00035,0.468721,0.01,0.403846,C2,27003,1,A,M1,CNG,...,18.75,16.8750,22.50,Maruti Suzuki Alto,2805,7.210,12.080,19.290,54108.450,0.1
35,ID00036,1.193936,0.39,0.403846,C8,8794,3,C2,M4,Diesel,...,21.25,38.2500,51.00,Hyundai Creta,3465,5.130,10.250,15.380,53291.700,3.9
36,ID00037,0.758760,0.01,0.384615,C5,34738,1,A,M1,CNG,...,18.75,16.8750,22.50,Maruti Suzuki Alto,2805,12.500,15.100,27.600,77418.000,0.1
37,ID00038,1.152404,0.08,0.490385,C13,5410,1,B1,M8,CNG,...,12.50,13.5000,18.00,Maruti Suzuki Eeco,2805,18.000,30.280,48.280,135425.400,0.8
38,ID00039,1.124138,0.12,0.403846,C8,8794,1,B2,M6,Petrol,...,15.00,20.2500,27.00,Maruti Suzuki Swift,3135,4.104,8.200,12.304,38573.040,1.2
39,ID00040,0.128866,0.02,0.576923,C3,4076,1,A,M1,CNG,...,18.75,16.8750,22.50,Maruti Suzuki Alto,2805,13.120,15.990,29.110,81653.550,0.2
40,ID00041,0.247248,0.08,0.471154,C8,8794,3,C2,M4,Diesel,...,21.25,22.9500,30.60,Hyundai Creta,3465,5.130,10.250,15.380,53291.700,0.8
41,ID00042,0.112365,0.00,0.384615,C3,4076,1,A,M1,CNG,...,18.75,16.8750,22.50,Maruti Suzuki Alto,2805,13.120,15.990,29.110,81653.550,0.0
42,ID00043,0.844742,0.04,0.394231,C3,4076,4,B2,M5,Diesel,...,20.00,18.0000,24.00,Tata Nexon,3465,13.120,15.990,29.110,100866.150,0.4
43,ID00044,0.132377,0.07,0.490385,C8,8794,1,B2,M6,Petrol,...,15.00,16.2000,21.60,Maruti Suzuki Swift,3135,4.104,8.200,12.304,38573.040,0.7
44,ID00045,1.055755,0.10,0.923077,C8,8794,1,B2,M6,Petrol,...,15.00,20.2500,27.00,Maruti Suzuki Swift,3135,4.104,8.200,12.304,38573.040,1.0
45,ID00046,0.715804,0.02,0.403846,C3,4076,1,A,M1,CNG,...,18.75,16.8750,22.50,Maruti Suzuki Alto,2805,13.120,15.990,29.110,81653.550,0.2
46,ID00047,1.216342,0.15,0.692308,C8,8794,3,C2,M4,Diesel,...,21.25,38.2500,51.00,Hyundai Creta,3465,5.130,10.250,15.380,53291.700,1.5
47,ID00048,0.082137,0.03,0.326923,C3,4076,3,C2,M4,Diesel,...,21.25,19.1250,25.50,Hyundai Creta,3465,13.120,15.990,29.110,100866.150,0.3
48,ID00049,1.235399,0.11,0.471154,C8,8794,1,B2,M6,Petrol,...,15.00,20.2500,27.00,Maruti Suzuki Swift,3135,4.104,8.200,12.304,38573.040,1.1
49,ID00050,0.345261,0.03,0.451923,C5,34738,1,B2,M6,Petrol,...,15.00,13.5000,18.00,Maruti Suzuki Swift,3135,10.000,12.080,22.080,69220.800,0.3

In [33]:
# Find the maximum scaled age
oldest_car = df['scaled_age_of_car_years'].max()

print("The oldest car in the dataset is {:.2f} years old.".format(oldest_car))

The oldest car in the dataset is 10.00 years old.

In [34]:
# Define the minimum and maximum ages
youngest_age = 18
oldest_age = 66

# Calculate the age of policyholders based on the distribution numbers
# Scale each age relative to the youngest and oldest ages
df['scaled_age_of_policyholder_years'] = df['age_of_policyholder'] * (oldest_age - youngest_age) + youngest_age

print(df[['age_of_policyholder', 'scaled_age_of_policyholder_years']])

       age_of_policyholder  scaled_age_of_policyholder_years
0                 0.644231                         48.923077
1                 0.375000                         36.000000
2                 0.384615                         36.461538
3                 0.432692                         38.769231
4                 0.634615                         48.461538
...                    ...                               ...
58587             0.644231                         48.923077
58588             0.519231                         42.923077
58589             0.451923                         39.692308
58590             0.557692                         44.769231
58591             0.442308                         39.230769

[58592 rows x 2 columns]

In [37]:
# Define the minimum and maximum ages
youngest_age = 18
oldest_age = 66

# Calculate the scale factor
scale_factor = (oldest_age - youngest_age) / (df['age_of_policyholder'].max() - df['age_of_policyholder'].min())

# Scale the ages
df['scaled_age_of_policyholder_years'] = youngest_age + (df['age_of_policyholder'] - df['age_of_policyholder'].min()) * scale_factor

# Print the DataFrame showing both original and scaled ages
print(df[['age_of_policyholder', 'scaled_age_of_policyholder_years']])

       age_of_policyholder  scaled_age_of_policyholder_years
0                 0.644231                         42.000000
1                 0.375000                         23.837838
2                 0.384615                         24.486486
3                 0.432692                         27.729730
4                 0.634615                         41.351351
...                    ...                               ...
58587             0.644231                         42.000000
58588             0.519231                         33.567568
58589             0.451923                         29.027027
58590             0.557692                         36.162162
58591             0.442308                         28.378378

[58592 rows x 2 columns]

In [38]:
# Calculate the distribution of scaled_age_of_policyholder_years
age_distribution = df['scaled_age_of_policyholder_years'].value_counts().sort_index()

print(age_distribution.head(50))

scaled_age_of_policyholder_years
18.000000    1408
18.648649    1541
19.297297    1584
19.945946    1599
20.594595    1691
21.243243    1652
21.891892    1733
22.540541    1724
23.189189    1766
23.837838    1779
24.486486    1622
25.135135    1715
25.783784    1710
26.432432    1650
27.081081    1613
27.729730    1696
28.378378    1691
29.027027    1614
29.675676    1670
30.324324    1713
30.972973    1651
31.621622    1563
32.270270    1566
32.918919    1521
33.567568    1419
34.216216    1360
34.864865    1298
35.513514    1202
36.162162    1118
36.810811    1046
37.459459     927
38.108108     891
38.756757     829
39.405405     735
40.054054     703
40.702703     675
41.351351     593
42.000000     619
42.648649     560
43.297297     488
43.945946     488
44.594595     463
45.243243     416
45.891892     447
46.540541     372
47.189189     345
47.837838     334
48.486486     286
49.135135     287
49.783784     233
Name: count, dtype: int64

In [43]:
# Calculate the distribution of scaled_age_of_policyholder_years
age_distribution = df['scaled_age_of_policyholder_years'].value_counts().sort_index()

# Print the minimum and maximum values
print("Minimum value:", age_distribution.index.min())
print("Maximum value:", age_distribution.index.max())

# Print the distribution for the first 50 rows
print(age_distribution.head(60))

Minimum value: 18.0
Maximum value: 66.0
scaled_age_of_policyholder_years
18.000000    1408
18.648649    1541
19.297297    1584
19.945946    1599
20.594595    1691
21.243243    1652
21.891892    1733
22.540541    1724
23.189189    1766
23.837838    1779
24.486486    1622
25.135135    1715
25.783784    1710
26.432432    1650
27.081081    1613
27.729730    1696
28.378378    1691
29.027027    1614
29.675676    1670
30.324324    1713
30.972973    1651
31.621622    1563
32.270270    1566
32.918919    1521
33.567568    1419
34.216216    1360
34.864865    1298
35.513514    1202
36.162162    1118
36.810811    1046
37.459459     927
38.108108     891
38.756757     829
39.405405     735
40.054054     703
40.702703     675
41.351351     593
42.000000     619
42.648649     560
43.297297     488
43.945946     488
44.594595     463
45.243243     416
45.891892     447
46.540541     372
47.189189     345
47.837838     334
48.486486     286
49.135135     287
49.783784     233
50.432432     199
51.081081     172
51.729730     131
52.378378     119
53.027027      83
53.675676      61
54.324324      54
54.972973      43
55.621622      26
56.270270      21
Name: count, dtype: int64

In [45]:
# Adjusting the multiplication by a factor of 0.01
df['fuel_consumption_Hwy_mult'] = (df['fuel_consumption_Hwy (L/100 km)'] * df['average_travel_highway_km/day']) * 0.01
df['fuel_consumption_City_mult'] = (df['average_travel_city_km/day'] * df['fuel_consumption_City (L/100 km)']) * 0.01

# Recalculate Total_consumption with the corrected multiplications
df['Total_consumption'] = df['fuel_consumption_City_mult'] + df['fuel_consumption_Hwy_mult']

# Recalculate CO2_Emissions (g/Day) based on the corrected Total_consumption
df['CO2_Emissions (g/Day)'] = df['Total_consumption'] * df['Emissions G/L']

print(df[['fuel_consumption_Hwy_mult', 'fuel_consumption_City_mult', 'Total_consumption', 'CO2_Emissions (g/Day)']])

       fuel_consumption_Hwy_mult  fuel_consumption_City_mult  \
0                       1.640250                    2.025000
1                       2.038500                    1.622250
2                       2.698313                    2.952000
3                       2.499778                    3.536325
4                       1.401469                    1.546875
...                          ...                         ...
58587                   0.951328                    0.634838
58588                   6.103687                    6.633000
58589                   3.057750                    3.375000
58590                   1.660500                    1.108080
58591                   1.960313                    1.308150

       Total_consumption  CO2_Emissions (g/Day)
0               3.665250           10281.026250
1               3.660750           10268.403750
2               5.650313           15849.126562
3               6.036103           18923.183297
4               2.948344            9243.057656
...                  ...                    ...
58587           1.586166            4972.629234
58588          12.736687           35726.408437
58589           6.432750           18043.863750
58590           2.768580            8679.498300
58591           3.268463           11325.222563

[58592 rows x 4 columns]

In [46]:
df

,policy_id,policy_tenure,age_of_car,age_of_policyholder,area_cluster,population_density,make,segment,model,fuel_type,...,Emissions G/L,average_travel_city_km/day,average_travel_highway_km/day,Total_daily_km,CO2_Emissions (g/Day),scaled_age_of_car_years,scaled_age_of_policyholder_years,fuel_consumption_Hwy_mult,fuel_consumption_City_mult,Total_consumption
0,ID00001,0.515874,0.05,0.644231,C1,4990,1,A,M1,CNG,...,2805,7.500,8.100,15.600,10281.026250,0.5,42.000000,1.640250,2.025000,3.665250
1,ID00002,0.672619,0.02,0.375000,C2,27003,1,A,M1,CNG,...,2805,7.210,12.080,19.290,10268.403750,0.2,23.837838,2.038500,1.622250,3.660750
2,ID00003,0.841110,0.02,0.384615,C3,4076,1,A,M1,CNG,...,2805,13.120,15.990,29.110,15849.126562,0.2,24.486486,2.698313,2.952000,5.650313
3,ID00004,0.900277,0.11,0.432692,C4,21622,1,C1,M2,Petrol,...,3135,12.090,11.395,23.485,18923.183297,1.1,27.729730,2.499778,3.536325,6.036103
4,ID00005,0.596403,0.11,0.634615,C5,34738,2,A,M3,Petrol,...,3135,6.250,7.550,13.800,9243.057656,1.1,41.351351,1.401469,1.546875,2.948344
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58587,ID58588,0.355089,0.13,0.644231,C8,8794,2,A,M3,Petrol,...,3135,2.565,5.125,7.690,4972.629234,1.3,42.000000,0.951328,0.634838,1.586166
58588,ID58589,1.199642,0.02,0.519231,C14,7788,1,A,M1,CNG,...,2805,29.480,36.170,65.650,35726.408437,0.2,33.567568,6.103687,6.633000,12.736687
58589,ID58590,1.162273,0.05,0.451923,C5,34738,1,A,M1,CNG,...,2805,12.500,15.100,27.600,18043.863750,0.5,29.027027,3.057750,3.375000,6.432750
58590,ID58591,1.236307,0.14,0.557692,C8,8794,1,B2,M6,Petrol,...,3135,4.104,8.200,12.304,8679.498300,1.4,36.162162,1.660500,1.108080,2.768580
58591,ID58592,0.124429,0.02,0.442308,C8,8794,3,C2,M4,Diesel,...,3465,5.130,10.250,15.380,11325.222563,0.2,28.378378,1.960313,1.308150,3.268463

In [48]:
# Export the DataFrame to a CSV file
df.to_csv('final_adjusted_car_data_1.csv', index=False)# Define the file path for cloud storage
file_path = r'C:\Users\nolla\OneDrive - TCDUD.onmicrosoft.com\Desktop\Oisin TCD Masters\Financial Modelling & Analysis\final_adjusted_car_data_2.csv'

# Export the DataFrame to a CSV file
df.to_csv(file_path, index=False)